a,
a:focus,
a:hover {
  color: black;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.container-center {
  margin-top: 150px;
}

h1, h2 {
  font: HackingTrashed-Regular;
  font-family: HackFonts;
}

.social {
    margin: 6px;
    color: gray;
}

.social i {
    transition: all .2s ease-in-out;
}

.social i:hover {
    transform: scale(1.1);
}

.social i:before {
    font-size: 50px;
}

@font-face {
  font-family: "HackFonts";
  src: url("HackingTrashed-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@keyframes blink{
  to{opacity: .0;}
}
